{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="/static/sample_app/style.css">
<!--<link rel="stylesheet" type="text/css" href="{% static 'sample_app/style.css' %}"> -->
<h1>{{ question.question_text }}</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'sample_app:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
